@import "tailwindcss";
/* Light Mode Scrollbar */
/* Vertical scrollbar */
::-webkit-scrollbar {
  width: 5px;  /* Reduced width */
}

/* Horizontal scrollbar */
::-webkit-scrollbar:horizontal {
  height: 5px;  /* Reduced height */
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* for hide notification scrollbar  */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}